# Gradle
.gradle/
build/
out/
classes/

# Eclipse
*.launch
.settings/
.metadata
.classpath
.project

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Minecraft
run/
logs/

# macOS
.DS_Store

# Windows
Thumbs.db
